#svgMain {
    margin-left:auto;
    margin-right:auto; 
    display:block;
    border:1px solid blue;
}

.cities{
    fill: #eee;
    stroke: #333; 
    vector-effect: non-scaling-stroke;
}

.borders {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-linecap: round;
    vector-effect: non-scaling-stroke;
  }

  div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;
    font-weight: bold;				
    font: 12px sans-serif;		
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border: 0px;		
    border-radius: 2px;			
    pointer-events: none;			
}

#rate{
    text-align: center;
}